@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

.job-screens {
  color: #fff;
  font-family: var(--font-family);
}
.job-screens .form-control {
  width: 70%;
  border-radius: 5px 0px 0px 5px / 5px 0px 0px 5px;
  display: inline-block;
}
.job-screens .line-after{
  position: relative;
  }

  .job-screens .line-after::after {
  content: "";
  width: 80px;
  border-bottom: 1px solid var(--Primary);
  position: absolute;
  left: 0px;
  bottom: -5px;
  }
.job-screens .btn:hover {
  background-color: var(--btn-hover);
} 
@media (max-width: 767px) {
  .job-screens .form-control {
    width: 100%;
    border-radius: 5px;
    height: 40px;
    border-radius: 5px;
  }
  .job-screens .job-screens .btn1 {
    width: 100%;
    border-radius: 5px;
  }
  .job-screens .jobs-details{text-align: left !important;
}
.job-screens .menu-job{display: none;}
}
.job-screens .input-sub {
  background: rgba(128, 128, 128, 0.438);
  border: none;
  color: var(--white);
  border-radius: 6px;
}

.job-screens .input-sub:focus {
  border: 1px solid var(--btn-defauit);
  box-shadow: none;
  background-color: var(--Gradient-bg);
  color: var(--white);
}
.job-screens .btn-subscribe {
  background-color: var(--btn-defauit);
  border: 0px;
  font-weight: var(--fw-600);
  text-transform: uppercase;
  padding: 10px 20px;
  box-shadow: none;
  margin-left: -15px !important;
  border-radius: 6px;
  transition: var(--transition-1);
  text-align: center;

}

.job-screens .btn-subscribe:focus,
.job-screens .btn-subscribe:hover {
  background-color: var(--btn-hover) !important;
}

.job-screens .input-sub::placeholder {
  color: white;
  font-size: 20px;
  }


