section {
  background-color: var(--Top-bg);
}
.exsam-section {
  background-color: rgb(34, 33, 33);
  color: #fff;
  font-family: var(--font-family);
}

.line {
  width: 89px;
  border: 0.25px solid var(--Primary);
}
.gold-color {
  color: var(--Primary);
}
.date-section {
  max-width: 550px;
  padding: 20px;
  background-color: #00000040;
  border-radius: var(--radious);
}
/*Line*/
.long-line {
  width: 100%;
  margin: auto;
  border: 5px solid var(--Primary);
  border-radius: 5px;
  margin-bottom: 30px;
}
.time-Exsam {
  /* width: 100%; */
  height: 39px;
  font-weight: var(--fw-600);
  font-size: 24px;
}

/* second container  */

svg {
  max-width: 80%; /* могут быть любыми */
  max-height: 80%;
  font-size: 24px;
}
.exsam-results {
  background-color: rgba(0, 0, 0, 0.19);
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}
.view-answers {
  background: var(--Primary);
  border: none;
  color: #fff;
  width: 100%;
  height: 45px;
  margin-left: auto !important;
}
.view-answers:hover {
  background: var(--btn-hover);
}
@media (max-width: 767px) {
  .cricle {
    display: flex;
    justify-content: center;
  }
  .view-answers {
    width: 265.49px;
    height: 45px;
  }
}
@media (max-width: 396px) {
  .cricle {
    display: flex;
    justify-content: center;
  }
}
/* Secore details section*/
.score-details-section {
  padding: 40px;
}

/* final results */
.score-details {
  /* font-size: 24px; */
  font-weight: var(--font-semiBold);
  background-color: rgba(0, 0, 0, 0.19);
  padding: 35px;
}
.score-results {
  max-width: 560px;
  font-size: 24px;
}

.final-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.final-scor {
  background-color: rgba(17, 17, 17, 0.56);
  width: 317px;
  height: 62px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius);
}
@media (min-width: 767px) {
}
@media (min-width: 576px) {
  .score-details {
    padding: 20px;
  }

  .score-results {
    height: 75px;
  }

  .final-scor {
    background-color: rgba(17, 17, 17, 0.56);
    min-width: 100%;
    min-height: 68px;
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
    border-radius: 5px;
  }
  */ .final-row {
    width: 345px;
    height: 157px;
    margin-top: 2rem;
  }
}
