.exams .line{
    border-bottom: 1px solid #EDD587;
  width: 89px;
}
.exams{
    background-image: url('/src/assets/images/secondary_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    z-index: 0 !important;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  
}
.exams .container{
  margin-top: 120px;
}
 .exams .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1!important;
    background: linear-gradient(180deg, rgba(24, 24, 24, 0.89) 0%, rgba(27, 26, 26, 0.93) 47.92%, #1A1919 100%);
    
} 
.exams .icon{
  color: #BF9B30;
}
.exams  .upcomming-det{
    background-color: #00000030;
    padding: 10px;
  }
.exams  .instructor_span{
    color: #BF9B30;
  }
.exams .pagination li a{
    background: transparent;
    border: none;
    color: #fff;
    gap: -1;   
 }
 .exams .pagination li a:hover{
    background-color:var(--btn-hover);
    color: #fff;
 }
 @media(max-width:767px){
   .exams .btn{
    width: 100%;
   }
   .exams .finish-btn{
    display: block !important;
   }
   .exams .pagination{
    display: none;
   }
 
 }