.News_content .header {
    font-size: var(--p-16);
}

.News_content .header::after {
    content: "";
    position: absolute;
    width: 79px;
    height: 2px;
    background-color: var(--Secondary);
    left: 0;
    bottom: -8px;

}

.News_content .clickTime {
    font-size: var(--p-16);
}

.News_content .secondHeader {
    font-size: var(--h2-36);
    font-weight: var(--fw-600);
}

@media(max-width:767px) {
    .News_content .secondHeader {
        font-size: var(--p-24);
        font-weight: var(--fw-600);
    }
}

.News_content .content_box {
    background: var(--Top-bg);
    color: var(--White-for-txt);
    padding: 50px 71px !important;
}

.News_content .content_box .content_info {
    font-size: var(--p-20);
    font-weight: var(--fw-400);
}

@media(max-width:767px) {
    .News_content .content_box {
        padding: 20px 20px !important;
    }

    .News_content .content_box .content_info {
        font-size: var(--p-16);
        font-weight: var(--fw-400);
    }
}

.News_content .content_box .image_box {
    width: 100%;
    margin: auto;
}

.News_content .content_box img {
    width: 100%;

}

.News_content .content_subscribe {
    background-color: var(--Footer-bg);
    padding: 50px 20px;
}

.News_content .content_subscribe .sub_title {
    font-size: var(--p-24);
    font-weight: var(--fw-600);
}

.News_content .content_subscribe .sub_text {
    font-size: var(--p-24);
    font-weight: var(--fw-400);

}

.News_content .content_subscribe .input_sub {
    background-color: var(--Gradient-bg);
    border: none;
    color: var(--White-for-txt);
    border-radius: 6px;

}

.News_content .content_subscribe .input_sub:focus {
    border: 1px solid var(--btn-defauit);
    box-shadow: none;
    background-color: var(--Gradient-bg);
    color: var(--White-for-txt);

}

.News_content .content_subscribe .btn_subscribe {
    background-color: var(--btn-defauit);
    border: 0px;
    font-weight: var(--fw-600);
    text-transform: uppercase;
    font-size: var(--p-24);
    padding: 10px 20px;
    box-shadow: none;
    margin-left: -15px !important;
    border-radius: 6px;
    transition: var(--transition-1);
    text-align: center;
}

.News_content .content_subscribe .btn_subscribe:focus,
.News_content .content_subscribe .btn_subscribe:hover {
    background-color: var(--btn-hover) !important;
}

@media(max-width:992px) {
    .News_content .content_subscribe .btn_subscribe {
        margin-left: 0px !important;
    }
}