    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    :root {
        /* Colors */
        --Primary: #BF9B30;
        --Secondary: #EDD587;
        --Green: #34A853;
        --Red: #ea4335;
        --Grey: #D0D0D0;
        --Black: #1A1919;
        --White-for-txt: #FFFFFF;
        --White-for-icon: #F8F8F8;
        --Gradient-bg: #2a2a2a;
        --Alpha-bg: #1515167e;
        --Top-bg: #151516be;
        --Footer-bg: #212121;

        /* Colors of Button */
        --btn-defauit: #BF9B30;
        --btn-hover: #e7bc3c;
        --btn-disabled: #e1e1e1;

        /* Transition */
        --transition-1: all 0.3s ease;
        --transition-2: all 0.4s ease;

        /* linear gradient */
        --linear-gradient: -webkit-linear-gradient(left, #2a2929, #1a1919);

        /* Font-family */
        --font-family: 'Open Sans', sans-serif;
        --font-semiBold: 600px;
        --font-regular: 400px;

        /* font-weight */
        --fw-300: 300;
        --fw-400: 400;
        --fw-500: 500;
        --fw-600: 600;

        /* typography */
        --h1-48: 48px;
        --h1-50: 50px;
        --h1-52: 52px;
        --h1-54: 54px;
        --h1-56: 56px;
        --h1-58: 58px;
        --h1-60: 60px;

        --h2-34: 34px;
        --h2-36: 36px;
        --h2-38: 38px;
        --h2-40: 40px;
        --h2-42: 42px;
        --h2-44: 44px;
        --h2-46: 46px;
        --h2-48: 48px;
        --h2-50: 50px;

        --h4-18: 18px;
        --h4-20: 20px;
        --h4-22: 22px;

        --p-14: 14px;
        --p-16: 16px;
        --p-18: 18px;
        --p-20: 20px;
        --p-22: 22px;
        --p-24: 24px;
    }

    .home-content {
        height: 1500px;
        color: white;
        background-image: url('../../assets/images/secondary_background.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        /* border: 2px solid red; */
    }

    .home-content .overlay {
        background-color: rgba(19, 19, 19, 0.8);
        padding-top: 200px;
        /* padding-bottom: 70px; */
        height: 1500px;
        /* border: 2px solid rgb(55, 255, 0); */
    }

    .line {
        height: 1.8px;
        background-color: var(--Primary);
        margin-top: 10px;
    }

    .line-1 {
        width: 162px;
    }

    .line-2 {
        width: 225px;
    }

    .content {
        height: 90vh;
        display: flex;
        justify-content: space-between;
        /* border: 2px solid red; */
    }

    .content .side-bar {
        width: 30%;
        height: 873px;
        background-color: rgba(0, 0, 0, 0.40);
        /* border: 2px solid blue  ; */
    }

    .admin-information {
        /* border: 2px solid green ; */
        width: 67%;
    }

    .add-article-and-btn-publish {
        /* border: 2px solid rgb(0, 130, 43); */
        display: flex;
        justify-content: space-between;
        height: 150px;
        position: relative;
        padding: 20px 0;

    }

    .btn-edit {
        position: absolute;
        top: 20px;
        right: 20px;
        text-transform: uppercase;
        background-color: var(--btn-defauit) !important;
        border: 0 !important;
        transition: var(--transition-1);
        -webkit-transition: var(--transition-1);
        -moz-transition: var(--transition-1);
        -ms-transition: var(--transition-1);
        -o-transition: var(--transition-1);
        padding: 10px 50px !important;
    }

    .btn-save,
    .btn-cancle {
        text-transform: uppercase;
        background-color: var(--btn-defauit) !important;
        border: 0 !important;
        transition: var(--transition-1);
        -webkit-transition: var(--transition-1);
        -moz-transition: var(--transition-1);
        -ms-transition: var(--transition-1);
        -o-transition: var(--transition-1);
        padding: 10px 40px !important;
        width: 150px;
    }

    .btn-cancle {

        background-color: rgba(157, 157, 157, 1) !important;
    }

    .btn-edit:hover,
    .btn-save:hover {
        background-color: var(--btn-hover) !important;
    }

    .article-category {
        /* border: 2px solid blue; */
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
    }

    .input-article {
        width: 550px;
        /* width:437.5%; */
    }

    .input-Category {
        width: 300px;
    }

    .input-article,
    .input-Category,
    .Content-tx,
    .date-input {
        outline: none;
        border: 0;
        background-color: rgba(217, 217, 217, 0.17);
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
        height: 35px;
        padding: 5px;
        font-size: 20px;
        color: white;
        padding: 0 10px;
    }

    .Content-txt {
        height: 270px;
        width: 100%;
        background-color: rgba(217, 217, 217, 0.17);
        outline: none;
        border: none;
        color: white;
        padding: 10px;
        font-size: 20px;
    }

    .date-input {
        width: 200px;
    }

    .drog-drop {
        width: 100%;
        height: 270px;
        border: 2px dashed var(--Primary);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: rgba(24, 24, 24, 0.89);
    }

    .drog-drop p.icon {
        font-size: 50px;
    }

    .drog-drop span {
        color: var(--Primary);
    }

    .cancle-save {
        width: fit-content;
    }


    @media (max-width:1140px) {

        .line-1 {
            width: 89px;
        }
    
        .line-2 {
        display: none;
        }
        .content .side-bar {
            display: none;
        }

        .btn-edit {
        display: none !important;
        }
        .admin-information {
            width: 100%
        }

        .cancle-save {
            width: 100%;
            border: 2px solid red;
        }

        .input-article,
        .input-Category,
        .Content-tx,
        .date-input {
            width: 100%;
        }

        .btn-cancle,
        .btn-save {
            width: 100% !important;
            margin-top: 10px;
        }

    }