.courses-page .button {
  background-color: #bf9b30;
  border: none;
  padding: 10px 20px;
  border-radius: 7px !important;
  transition: all .4s ease;
}
.courses-page .button:hover {
  background-color: #e7bc3c !important;
}
.courses-page .card {
  color: white;
  background-color:rgba(0, 0, 0, 0.196);
}

.courses-page .card-img-overlay {
  background: url(../../assets/images/Rectangle\ 60.png);  
  color: white;
  background-size: cover;

  background-repeat: no-repeat;
  background-position: center;
}
.courses-page .title {
  font-size: 1.5rem;
}

.courses-page  .main-color {
  color: #ff9900;
}


.courses-page  .card .button {
  width: 95%;
  background-color: #bf9b30;
  border: none;
  text-align: center;
}
.courses-page .jobs {
  color: #fff;
  line-height: 15px;
}
.courses-page .card .img {
  padding: 1rem 1rem 0 1rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 235px 134px;
}
.courses-page .card .card-link {
  color: white !important;
  font-weight: 600;
}
.courses-page .row {
  justify-content: space-evenly;
}
   /* Media Query for mobile view */
   @media (max-width: 767px) {
    .courses-page  .search-container {
       width: 100%;
       margin-top: 10px;
    }
 
    .courses-page  .search-icon {
       right: 10px;
    }
    }
    .courses-page #search {
    background: rgba(187, 186, 186, 0.189);
    border: 1px solid transparent;
    border-radius: 50px;
    padding: 12px 85px;
    width: 100%;
    }
    .courses-page #search::placeholder {
    text-align: center;
    color: white;
    font-size: 20px;
    }
    .courses-page .search-container {
    position: relative;
    display: inline-block;
    }
 
    .courses-page .search-icon {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    }

    .courses-page .horizontal-scroll-container {
      overflow-x: auto;
      white-space: nowrap;
      scroll-behavior: smooth; 

       
    }
    
    .courses-page .horizontal-scroll-content {
      display: inline-flex;
    }
    .courses-page .horizontal-scroll-container::-webkit-scrollbar {
      display: none; 
    }
    
    .courses-page  .line-after{
      position: relative;
      }
   
      .courses-page .line-after::after {
      content: "";
      width: 80px;
      border-bottom: 1px solid var(--Primary);
      position: absolute;
      left: 0px;
      bottom: -5px;
      }